* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 5rem minmax(30rem 50rem) 5rem;
  grid-template-rows: 5rem 45rem 5rem;
  gap: 0rem 1rem;
}
#search {
  border: 5px solid pink;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  justify-self: stretch;
  align-self: stretch;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search > input {
}
#search > button {
  border: none;
  background: none;
}
.horizontal {
  font-size: 1.5rem;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  justify-self: start;
  align-self: center;
  margin-left: 1rem;
}
.vertical {
  font-size: 1.5rem;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  transform: rotate(90deg);
  justify-self: end;
  align-self: center;
  margin-right: -1.5rem;
}
.searchResult {
  padding: 1rem;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
  align-self: start;
  margin-top: 1rem;
  padding: 2rem;
}
footer {
  background-color: aquamarine;
  position: fixed;
  bottom: 0rem;
  height: 2rem;
  padding-top: 0.5rem;
  width: 100%;
  text-align: center;
}
/* mobile */
@media (max-width: 640px) {
  .grid {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
  }
  .vertical {
    display: none;
  }
  .horizontal {
    margin-top: 1rem;
  }
  .searchResult {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
